*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root{
    --main:rgb(48, 140, 134);
    --bg: rgb(255, 255, 255);
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    padding: 16px 12%;
    transition: all .50s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header img{
    height: 30px;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--main);
}


#nav-menu{
    display: flex;
    align-items: center;
}

#nav-menu a{
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 20px;
    transition: all .50s ease;
    color: var(--main);
}

#nav-menu a:hover{
    color: #10151a;  
}

#nav-menu a.active{
    color: #10151a;
}




#menu-icon{
    cursor: pointer;
    z-index: 1001;
    display: none;
}

.margin-t-b{
    margin-bottom: 100px;
    margin-top: 65px;
}
.main-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 165px);
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    transition: all .5s ease; 
}
#home>div:nth-child(1){
    position: absolute;
    width: 98.5vw;
    height: 100vh;
    z-index: -10;
    background-color:var(--main);
    clip-path: polygon(74% 0%,101% 0%,100% 20%,101% 101%,89% 101%,58% 101%,76% 49%,58% 0%);

}

.home-social img{
    width: 30px;
}

#home{
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.home-text{
    /* margin: 40px 40px 10px 40px; */
    width: 100%;
    margin-left: 30px;
    margin-top: 80px;
}
.home-text>p{
    font-size: 2.5rem;
    color: rgb(56, 56, 56);
}
.home-text>p:nth-child(3){
    font-weight: 700;
    margin: 10px 0;
}

.node{
    position: relative;  
    z-index: -1000;
}

.node::before{
    top:0;
    left:0;
    position: absolute;
    content: "";
    background-color:  var(--bg);
    border-left: 3px solid #303030;
    width:56%;
    height:100%;
    animation: animate 4s steps(16) infinite;
    transition: all .35s;
    z-index: 0;
}
@keyframes animate{

    40% ,60%{
        left:55%;
    }
    70%,100%{
    }
    
    100%{
        left:0%;
    }
}
#home>img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -100000;
}

.home-text h1{
    font-size: 3.5rem;
    font-weight: 700;
    color:var(--main);
}
.resume{
    margin: 20px 0;

}
#resume-button-2{
    background: linear-gradient(134deg,var(--main) 0%, var(--main) 99%);
    color:  var(--bg);
    padding: 7px 9px;
    border-radius: 4px;
    font-size: 20px;
    margin: 10px 0;
    display: block;
    width: 190px;
}
#resume-link-2{
    color: var(--bg);
}

.home-card-main{
    width: 100%;
    margin-right: 150px;


}
.home-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color:var(--main);
    line-height: 1.8rem;
    background-color:  var(--bg);
    z-index: 100;
    padding: 40px 25px;
    border-radius: 10px;
    margin: 0 40px;
    margin-top: 100px;
    /* font-size: 0.5rem; */
}


.home-social a{
    margin: 0 15px;
    size: 50px;
}


#about{
    background-color: #10151a;
    width: 100%;
    clip-path: polygon(0 0,100% 0% ,100% 90%, 80% 80%, 0% 90% );
    height: 100vh;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid  var(--bg);
}

#about>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;    
}
#about img{
    border-radius: 50%;
    width: 25vw;
}
.home-card-main>div>img{
    border-radius: 50%;
    /* width: 25vw; */
    margin-left: 150px;
}

#about>div:nth-child(2){
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px ;
    color:  var(--bg);
}
#about>div:nth-child(2)>h1{
    font-size: 2.5rem;
    margin-bottom: 40px;
}
#about>div:nth-child(2)>p{
    font-size: 1.2rem;
    margin-bottom: 40px;
    padding: 0 40px;

}
#about>div:nth-child(2)>a{
    padding: 10px 15px;
    color: rgb(66, 66, 66);
    border-radius: 5px;
    background: linear-gradient(134deg,  var(--bg) 0%,  var(--bg) 99%);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
#about>div:nth-child(2)>a:hover{
    color:  var(--bg);
    background: var(--main);
}



.skills-card{
    margin-bottom: 110px;
}
#skills-sec, #projects-sec, #contact-sec{
    height: 12vh;
}



#skills>h1{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(36, 36, 36);
    margin-bottom: 30px;
}

#tech {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px 40px;
}

#tech>div {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

#tech>div>img {
    width: 50px;
    height: 50px;
}




#github-sec{
    height: auto;
}

.github>h1{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(36, 36, 36);
    margin-bottom: 30px;
}
.github>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendar{
    width:80%;
    background-color: #10151a;
    padding: 40px;
    border-radius:10px ;
    color:#ECE9E6
}
.github>div>div{
    margin: 10px auto;
}
.github>div>div>img{
    margin: 10px;
}

/* --------------------------------Project------------------------------------- */

#projects{
    height: auto;
    margin-bottom: 100px;
}
#projects>h1{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(36, 36, 36);
    margin-bottom: 50px;
}

.all-projects{
    width: 80%;
    margin: auto;
}

.project-card{
    height: auto;
    background-color: #10151a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.project-card>div:nth-child(1){
    
    width: 60%;
    
}
.project-card>div:nth-child(1)>img{
    border: 1px solid  var(--bg);
    width: 100%;
}
.project-card>div:nth-child(2){
    
    width: 40%;
    text-align: center;
    margin: 0px 20px;
    width: 38%;
    padding: 0 20px;
}
.project-card>div:nth-child(2)>h1,.project-card>div:nth-child(2)>p,.project-card>div:nth-child(2)>h5,.project-card>div:nth-child(2)>a{
    margin: 15px 0;
    font-size: 1.1rem;
    color:  var(--bg);
}
.project-card>div:nth-child(2) li{
    font-size: 1.0rem;
    font-weight: 500;
}
.project-card>div:nth-child(2)>div{
    margin-top: 55px;
}
.project-card>div:nth-child(2) a{
    padding: 8px 20px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color:  var(--bg);
    color: #10151a;
    font-size: 1.1rem;
    cursor: pointer;
}

.project-card>div:nth-child(2) a:hover{
    color:  var(--bg);
    background: var(--main);
    
}


.project-card>div:nth-child(2)>h1{
    font-size: 28px;
}


/* --------------------------------Project------------------------------------- */




/* ---------------------------------Contact--------------------------------- */
.contact-section {
    padding: 80px 0px;
}

.contact-section>div {
    height: 50%;
    width: 70%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
    background-color: rgb(3, 3, 3)

}

.contact-section>div>hr {
    height: 200px;
}

.contact-link {
    height: 100%;
    width: 50%;
}

.contact-link>div {
    width: 50%;
   
    display: flex;
    flex-direction: column;
   
    justify-content: space-around;
    gap: 30px;
  
    margin: auto;
}

.contact-link>p {
    width: 50%;
    font-size: 22px;
    color:  var(--bg);
    
    margin: 20px auto;
}

.contact-link>div>a {
    
    display: flex;
    align-items: center;
    gap: 20px;
    color:  var(--bg);
}

.contact-link img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.contact-form {
    width: 50%;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    color:  var(--bg);
    margin: auto;
}

.contact-form>form {
    /* border: 2px solid #000000; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form>form>input[type="text"],
.contact-form>form>input[type="email"] {
    height: 40px;
    width: 65%;
    padding: 5px 10px;
    border-radius: 5px;
    margin: auto;
 
}

.contact-form>form>input[type="text"]:focus,
.contact-form>form>input[type="email"]:focus {
    outline: none;
}

.contact-form>form>textarea {
    min-height: 100px;
    /* width: 65%; */
    max-width: 65%;
    min-width: 65%;
    padding: 5px 10px;
    border-radius: 5px;
    margin: auto;
}

.contact-form>form>textarea:focus {
    outline: none;
}

.contact-form>form>button {
    margin: auto;
    height: 40px;
    width: 40%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ebf1f5;
    color: #616161;
}

.contact-form>form>button:hover {
    background-color: #667C89;
    color:  var(--bg);
}
.section-title{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(36, 36, 36);
    margin-bottom: 30px;
}
/* ---------------------------------Contact--------------------------------- */



@media all and (min-width:320px) and (max-width:800px){
    #contact{
        margin-bottom:40px;
       
    }
    #contact > h1 {
        margin-top: 20px;
    }
    #contact > h1 , #contact>p{
        text-align: center;
    }
    #verticalLine {
        display: none;
    }
    #contact>div{
    
        /* border:1px solid black; */
        width:90%;
        background-color: #0a0b0b;
        margin:40px auto;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        justify-content: space-evenly;
    }
    
    .personal-info{
        /* border:1px solid black; */
        width:100%;
        display: flex;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .personal-info>div{
        /* border: 1px double #f0422f; */
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 50px 0;
        width:90%;
        border-radius: 10px;
        height:100%;
        margin:30px auto;
        background-color:  var(--bg);
    }
    .personal-info>div>div{
        margin:25px 30px;
    }
    .personal-info>div>div>p{
        margin: 5px 10px;
        font-size: 12px;
    }
    
    .info-head{
        display: flex;
        font-size: 12px;
        /* justify-content: center; */
        align-items: center;
        margin: 5px 10px;
        color:var(--main);
    }
    .info-head>i{
        margin-right: 8px;
        font-size: 12px;
    }
    

    .send-info{
        /* border:1px solid black; */
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .send-info>div{
        /* border:1px solid black; */
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: var(--bg);
        border-radius: 10px;
        width:50%;
        margin:20px auto;
        height: 100%;
    
    }
    .input-box{
        /* border:1px solid black; */
        border-radius:20px ;
        background-color: #273036;
        margin: 15px 20px;
    }
    .input-box:first-child{
        margin-top:20px;
    }
    
    .input-box>p{
        padding: 10px 15px 0px;
        font-size: 14px;
        color: var(--main);
    }
    .input-box>input ,.input-box>textarea {
        background-color: #273036;
        border: none;
        resize: none;
        border-radius:20px ;
        font-size: 14px;
        padding:0px 15px 10px;
        color: var(--bg);
        width: 100%;
        box-sizing: border-box;
    }
    .input-box>input:focus , .input-box>textarea:focus{
        outline: none;
    }
    .submit-btn {
        margin: 15px 20px 20px;
    }
    .submit-btn > button{
        /* margin: 15px 20px; */
        font-size: 12px;
        padding: 6px 10px;
        background-color: var(--main);
        border: 2px solid var(--main);
        color: var(--bg);
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
    
    }
    .submit-btn > button:hover{
       
        background-color:  var(--bg);
        border: 2px solid var(--main);
        color:var(--main);
    
    }

}



@media (max-width: 425px) {
    
    .home-social{
        background-color:  var(--bg);
        padding-top: 10px;
        border-radius: 5px;
        display: flex;
        justify-content:left;
        
    }

    #verticalLine{
        display: none;
    }

    #home>img{
        width: 1000px;
        right: 0;
    }

    /* #about{
        flex-direction: column;
    } */
    .home-text h1{
        font-size: 1.5rem;
        
    }
    .home-text>p{
        font-size: 1rem;

    }
    #home>div:nth-child(1){
        display: none;
    }
    #home{
        height: auto;
        margin-bottom: 10px;
    }
    .node::before{
        width: auto;
        height: auto;
        animation: none;
    }
    #about{
        flex-direction: column;
        height: auto;
        clip-path: none;

    }
    #about>div:nth-child(1){
        width: auto;
        margin-top: 50px;
        /* margin-bottom: 10px; */
    }
    #about>div:nth-child(2){
        padding: 0;
        margin-bottom: 50px;
    }
    #about img{
        width: 50vw;
    }







    #tech {
        grid-template-columns: repeat(3,1fr);
    }

    #contact>div{
        flex-direction: column;
    }
    .personal-info{
        width: 100%;
    }
    .send-info>div{
        width: 90%;
    }

    .calendar{
        width: 100vw;
    }
    .github>div>div img{
        width: 100%;
    }
    footer>div:nth-child(2){
        font-size: 14px;
    }

    .project-card{
        flex-direction: column;
    }

    .project-card>div:nth-child(1){
        width: 100%;

    }
    .project-card>div:nth-child(2){
        width: 100%;

    }
    .project-card>div:nth-child(2) a{
        display: block;
        margin-top: 5px;
    }



}

@media (max-width: 1280px) {

    header{
        padding: 16px 2%;
        transition: .2s;
        display: flex;
        justify-content: space-around;
    }
    .all-projects{
        width: 95%;
    }

    .project-card{
        flex-direction: column;
        width: 100%;
    }

    .project-card>div:nth-child(1){
        width: 100%;

    }
    .project-card>div:nth-child(2){
        width: 100%;
        margin: 0px;
        font-size: 14px;


    }
    .project-card>div:nth-child(2) a{
        /* display: block; */
        width: 50%;
        margin: auto;
        margin-top: 5px;
    }

}

@media (max-width: 724px){

    #menu-icon{
        display: block;

    }

    #nav-menu{
        position: absolute;
        top: 0;
        margin-top: 60px;
        display: none;
        width: 50%;
        background:  var(--bg);
        height: auto;
        transition: all .50s ease;
    }
    
    #nav-menu a{
        display: block;
        margin: 8px 0;
        padding: 0 25px;
        /* color: white; */
        transition: all 1 ease;
    }
    #nav-menu a.active{
        color: rgb(63, 63, 63);
        
    }

    #nav-menu a:hover{
    color: rgb(63, 63, 63);
    transform: translateY(2px);
    }

    #nav-menu a.active{
        color: rgb(10, 10, 10);    
    }

    #nav-menu.open{
    width: 100%;
    top: 70;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    }

    .main-body{
        flex-direction: column;
    }
    .all-projects{
        width: 95%;
    }

    .project-card{
        flex-direction: column;
        width: 100%;
    }

    .project-card>div:nth-child(1){
        width: 100%;

    }
    .project-card>div:nth-child(2){
        width: 100%;
        margin: 0px;
        font-size: 14px;


    }
    .project-card>div:nth-child(2) a{
        /* display: block; */
        width: 50%;
        margin: auto;
        margin-top: 5px;
    }

}